# Thư mục chứa các gói thư viện
node_modules/

# File môi trường chứa key bí mật (rất quan trọng)
.env

# Thư mục chứa file ảnh người dùng upload (không nên đưa lên Git)
uploads/
# Thư mục chứa file build
dist/

# File log
*.log
npm-debug.log